
<%= link_to "Design My DIY", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
  
 <li><%= link_to "How it Works", howitworks_path %></li>
 <li><%= link_to "Giving Back", givingback_path %></li>
 <li><%= link_to "Featured Professionals", featuredprofessionals_path %></li>
 <li><%= link_to "About", about_path %></li>
 <li><%= link_to "Contact Us", contact_path %></li>
 
</ul>
